@using K205_Portfolio.Models
@*@{
    string ad = "Aytac";
    string soyad = "Rustemli";
    string gun = "axsam";
}

*@
@*<h1>
    @{
        if (gun == "axsam")
        {
            <h1>Axsamin xeyir @ad</h1>
        }else{
            <h1>Sabahin xeyir @ad</h1>
        }
    }
</h1>*@


@*@ViewBag.Salamlama @ad*@


@foreach (var item in ViewData["products"] as List<Product>)
{
    <h1>@item.Name</h1>
    <img width="300" src="@item.PhotoURL" />
}